ion-virtual-scroll ion-item:hover {
  cursor: pointer;
  opacity: 90%;
}

.item {
  border: solid 1px var(--ion-color-dark);
  border-radius: 1vw;
  transition: all 0.3s ease-in-out;
}

.itemDescription {
  padding-top: 0.1vh;
  padding-bottom: 0.1vh;
}

ion-thumbnail:hover {
  cursor: zoom-in;
}

.noButton {
  color: var(--ion-color-light) !important;
  background-color: var(--ion-color-danger) !important;
}

.yesButton {
  color: var(--ion-color-light) !important;
  background-color: var(--ion-color-success) !important;
}



@media only screen and (max-width: 450px) {
  ion-button {
    font-size: 50%;
  }

  ion-title {
    font-size: 70%;
    margin: 0;
    padding-right: 0;
  }

  .showMoreButton {
    display: none;
  }
}
