<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">
      <strong>Piet Laureyns</strong> - Ionic Project - Fun Animal Facts!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="8" offset-md="2" class="ion-margin">
        <ion-card class="ion-padding" color="dark">

          <ion-card-title class="ion-text-center">
            <ion-title>Animals</ion-title>
          </ion-card-title>

          <ion-card-header>
            <ion-item color="dark">
              <ion-searchbar showCancelButton="focus" placeholder="Type the name of an animal"
                (ionInput)="searchItems($event)"></ion-searchbar>
              <ion-button color="success" (click)="createNewItemClicked()">
                <ion-icon slot="start" name="add"></ion-icon> New Animal<ion-icon name="paw" slot='end'></ion-icon>
              </ion-button>
            </ion-item>
          </ion-card-header>

          <div class="ion-text-center ion-padding-top" [hidden]=!noItemsMessage>
            <ion-label color="primary">{{noItemsMessage}}</ion-label>
          </div>

          <ion-virtual-scroll [items]="filteredItems" #virtualScroll>
            <div class="item" *virtualItem="let item" [ngStyle]="{'background-color': item.getBackgroundColor()}"
              (click)="itemClicked(item);$event.stopPropagation();" [id]="item.title">

              <ion-item class="ion-no-padding" lines="none">
                <ion-thumbnail class="ion-no-margin" (click)="imageClicked(item);$event.stopPropagation();">
                  <img [src]='item.imageUrl' />
                </ion-thumbnail>
                <ion-label class="ion-padding-start" [ngStyle]="{'color': item.getTextColor()}">
                  {{ item.title }}
                </ion-label>
                <ion-button [hidden]=item.showDescription
                  (click)="showMoreButtonClicked(item);$event.stopPropagation();">
                  <ion-icon name="arrow-dropdown"></ion-icon> <span class="showMoreButton">Show Fun Fact</span>
                </ion-button>
                <ion-button [hidden]=!item.showDescription
                  (click)="showMoreButtonClicked(item);$event.stopPropagation();">
                  <ion-icon name="arrow-dropup"></ion-icon> <span class="showMoreButton">Hide Fun Fact</span>
                </ion-button>
                <ion-button type="button" color="danger" (click)="deleteItemClicked(item);$event.stopPropagation();">
                  <ion-icon name="close"></ion-icon>
                </ion-button>
              </ion-item>

              <div [hidden]=!item.showDescription class="itemDescription ion-text-center"
                [ngStyle]="{'color': item.getTextColor()}">
                <p><strong>Fun Fact: </strong>{{ item.description }}</p>
              </div>

            </div>
          </ion-virtual-scroll>


          <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>